table {
    margin: auto;
}

table, th, td {
    border: 1px solid blue;
}

#tofes {
    background-color:bisque;
}

header {
    display: flex;
    justify-content: center;
}

.input {
    justify-content: center;
    align-items: center;
    padding-left: 550px;
}

label, span {
    font-size:x-large;
}

#saveBTN {
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
    background-color: purple;
    color: white;
}